<div class="followme followme-abs" id="followme">
    <h5>Want to work with us?</h5>
    <button onclick="location.href='mailto:info@strongbrew.io';">Hire us</button>
</div>


<script type="text/javascript">
    var followMe = document.getElementById('followme');
    var header = document.getElementById('header');
    window.addEventListener('scroll', function() {
        if(window.scrollY > header.offsetHeight) {
            followMe.classList.remove('followme-abs');
            followMe.classList.add('followme-fixed');
        } else {
            followMe.classList.remove('followme-fixed');
            followMe.classList.add('followme-abs');
        }
    });
</script>