<div class="followme followme-abs" id="followme">
<h5>We can help you!</h5>
    <a href="https://strongbrew.io/angular-codereview" class="button" rel="noopener">
        <img src="/assets/images/angular.png" alt="">
        <span>Code review</span>
    </a>
    <a href="https://strongbrew.io/consultancy" class="button" rel="noopener">
        <img src="/assets/images/angular.png" alt="">
        <span>Consultancy</span>
    </a>
    <a href="https://strongbrew.io/brews" class="button" rel="noopener">
        <img src="/assets/images/angular.png" alt="">
        <span>Trainings</span>
    </a>
</div>


<script type="text/javascript">
    var followMe = document.getElementById('followme');
    var header = document.getElementById('header');
    window.addEventListener('scroll', function() {
        if(window.scrollY > header.offsetHeight + 113) {
            followMe.classList.remove('followme-abs');
            followMe.classList.add('followme-fixed');
        } else {
            followMe.classList.remove('followme-fixed');
            followMe.classList.add('followme-abs');
        }
    });
</script>
