<!DOCTYPE html>
<html>
<head>
    <!-- Document Settings -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Page Meta -->
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

    <!-- Mobile Meta -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Brand icon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}assets/images/favicon.ico" >

    <!-- Styles'n'Scripts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    {% if page.course %}
    <link href="{{ site.baseurl }}assets/css/app.5b927060.css" rel=preload as=style>
    <link href="{{ site.baseurl }}assets/css/chunk-vendors.de3a1536.css" rel=preload as=style>
    <link href="{{ site.baseurl }}assets/js/app.b05221f7.js" rel=preload as=script>
    <link href="{{ site.baseurl }}assets/js/chunk-vendors.f3c9ae61.js" rel=preload as=script>
    <link href="{{ site.baseurl }}assets/css/chunk-vendors.de3a1536.css" rel=stylesheet>
    <link href="{{ site.baseurl }}assets/css/app.5b927060.css" rel=stylesheet>

    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Material+Icons">
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/screen.css" />

    <!-- highlight.js -->
    <link href="{{ site.baseurl }}assets/css/prism.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <!-- Ghost outputs important style and meta data with this tag -->
    {% include head.html %}

</head>
<body class="{% if paginator.page > 1 %}paged archive-template{% elsif page.class %}{{ page.class }}{% else %}home-template{% endif %} nav-closed">
    <div class="topbar">
        <div class="container">
            <a class="logo-wrapper" href="https://strongbrew.io">
                <img src="{{ site.baseurl}}assets/images/logo_website.png" alt="">
            </a>
            <div class="menu-wrapper">
                <ul class="menu">
                    <li><a href="https://strongbrew.io/about">Home</a></li>
                    <li><a href="https://strongbrew.io/brews" rel="noopener" routerLinkActive="active">Brews</a></li>
                    <li><a href="/" class="active">Blog</a></li>
                    <li><a href="https://strongbrew.io/consultancy" rel="noopener" routerLinkActive="active">Consultancy</a></li>
                    <li><a href="https://strongbrew.io/angular-codereview" rel="noopener" routerLinkActive="active">Code review</a></li>
                    <li><a href="https://strongbrew.io/contact" rel="noopener" routerLinkActive="active">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- The blog navigation links -->
    {% include navigation.html %}

    <div class="site-wrapper">

        <!-- All the main content gets inserted here, index.hbs, post.hbs, etc -->
        {{ content }}

        <!-- The tiny footer at the very bottom -->
        <footer class="ftr">
            <div class="container">
                <div class="footer-top">
                    <div class="footer-left">
                        <h3>Social</h3>
                        <ul>
                            <li>
                                <i class="fab fa-twitter"></i>&nbsp;<a href="https://twitter.com/strongbrew_io" rel="noopener" target="_blank">Twitter</a>
                            </li>
                            <li><i class="fab fa-facebook"></i>&nbsp;
                                <a href="https://facebook.com/strongbrewio" rel="noopener" target="_blank">Facebook</a>
                            </li>
                            <li><i class="fab fa-linkedin"></i>&nbsp;
                                <a href="https://www.linkedin.com/company/strongbrew/" rel="noopener" target="_blank">Linkedin</a></li>
                            <li><i class="fab fa-twitter"></i>&nbsp;<a href="https://twitter.com/brechtbilliet" rel="noopener" target="_blank">Twitter
                                Brecht</a></li>
                            <li><i class="fab fa-twitter"></i>&nbsp;<a href="https://twitter.com/kwintenp" rel="noopener" target="_blank">Twitter
                                Kwinten</a></li>
                        </ul>
                    </div>
                    <div class="footer-mid">
                        <h3>Sitemap</h3>
                        <ul>
                            <li><a href="https://strongbrew.io/about">Home</a></li>
                            <li><a href="https://strongbrew.io/brews">Brews</a></li>
                            <li><a href="https://blog.strongbrew.io" rel="noopener">Blog</a></li>
                            <li><a href="https://strongbrew.io/consultancy">Angular consultancy</a></li>
                            <li><a href="https://strongbrew.io/angular-codereview">Angular codereview</a></li>
                            <li><a href="https://strongbrew.io/microbrews">Microbrews</a></li>
                            <li><a href="https://strongbrew.io/contact">Contact</a></li>
                            <li><a href="https://platform.strongbrew.io" rel="noopener" target="_blank">Strongbrew Platform</a></li>
                            <li><a href="https://strongbrew.slack.com" rel="noopener" target="_blank">Slack</a></li>
                            <li><a href="https://strongbrew.io/privacy-policy">Privacy policy information</a></li>
                            <li><a href="javascript:void(0)" id="changePreferences">Change privacy policy</a></li>
                        </ul>
                    </div>
                    <div class="footer-right">
                        <h3>Contact</h3>
                        <ul>
                            <li>
                                Provinciebaan 120 <br>9270 Laarne, Belgium
                            </li>
                            <li><i class="fa fa-envelope"></i>&nbsp;<a href="mailto:info@strongbrew.io" rel="noopener" target="_blank">info@strongbrew.io</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-bottom">
                    Strongbrew.io
                </div>
            </div>
        </footer>
    </div>
    <!-- highlight.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Ghost outputs important scripts and data with this tag -->
    <!-- {{ghost_foot}} -->
    <!-- Fitvids makes video embeds responsive and awesome -->
    <script type="text/javascript" src="{{ site.baseurl }}assets/js/jquery.fitvids.js"></script>
    <!-- The main JavaScript file for Casper -->
    <script type="text/javascript" src="{{ site.baseurl }}assets/js/index.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}assets/js/prism.js"></script>
    <!-- Cookie Consent by https://PrivacyPolicies.com -->
    <script type="text/javascript" src="//PrivacyPolicies.com/cookie-consent/releases/3.0.0/cookie-consent.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            cookieconsent.run({"notice_banner_type":"simple","consent_type":"express","palette":"light","change_preferences_selector":"#changePreferences","language":"en","website_name":"StrongBrew Blog","cookies_policy_url":"https://strongbrew.io/privacy-policy"});
        });
    </script>

    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/plain" cookie-consent="tracking" async src="https://www.googletagmanager.com/gtag/js?id=UA-112030289-1"></script>
    <script type="text/plain" cookie-consent="tracking">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112030289-1');
</script>

    <!-- end of Google Analytics-->

    <noscript><a href="https://privacypolicies.com/cookie-consent/">Cookie Consent by PrivacyPolicies.com</a></noscript>
    <!-- End Cookie Consent -->

    {% if page.course %}
    <script src="{{ site.baseurl }}assets/js/chunk-vendors.f3c9ae61.js"></script>
    <script src="{{ site.baseurl }}assets/js/app.b05221f7.js"></script>
    {% endif %}
</body>
</html>
